NUXT_PUBLIC_BASE_URL=http://localhost:8000
NUXT_PUBLIC_RECAPTCHA_SITE_KEY=xxx
NUXT_PUBLIC_MAINTENANCE=false
NUXT_PUBLIC_TESTING=true
#PROXY_DOMAIN=rotki.com
#PROXY_INSECURE=true #When set it will proxy to http instead of https
