@import "media";

.page {
  @apply bg-background bg-rotki-pattern bg-local bg-right-top bg-no-repeat;

  scroll-behavior: smooth;

  @include for-size(phone-only) {
    background-size: 100px;
  }

  @include for-size(tablet-portrait-up) {
   background-size: 150px;
  }

  @include for-size(desktop-up) {
    background-size: 200px;
  }

}

.body {
  @apply bg-rotki-logo bg-local bg-left-top bg-no-repeat overflow-x-hidden;

  @include for-size(phone-only) {
    background-size: 70px;
  }

  @include for-size(tablet-portrait-up) {
    background-size: 120px;
  }

  @include for-size(desktop-up) {
    background-size: 180px;
  }

  @include for-size(desktop-up) {
    background-size: 180px;
  }

}

$mobile-margin: 16px;

$mobile-font-percentage: 0.7;
$tablet-font-percentage: 0.8;

$mobile-button-percentage: 0.8;
$mobile-image-percentage: 0.4;

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
