@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}

$mobile-font-percentage: 0.7;
$tablet-font-percentage: 0.8;
$tablet-landscape-font-percentage: 0.9;
$desktop-up-font-percentage: 0.9;
$big-desktop-font-percentage: 1.1;

$mobile-button-percentage: 0.8;
$mobile-image-percentage: 0.4;

@mixin text-size($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;

  @include for-size(phone-only) {
    font-size: $font-size * $mobile-font-percentage;
    line-height: $line-height * $mobile-font-percentage;
  }

  @include for-size(tablet-portrait-up) {
    font-size: $font-size * $tablet-font-percentage;
    line-height: $line-height * $tablet-font-percentage;
  }

  @include for-size(tablet-landscape-up) {
    font-size: $font-size * $tablet-landscape-font-percentage;
    line-height: $line-height * $tablet-landscape-font-percentage;
  }

  @include for-size(desktop-up) {
    font-size: $font-size * $desktop-up-font-percentage;
    line-height: $line-height * $desktop-up-font-percentage;
  }

  @include for-size(big-desktop-up) {
    font-size: $font-size * $big-desktop-font-percentage;
    line-height: $line-height * $big-desktop-font-percentage;
  }
}

$mobile-margin: 16px;

@mixin margin-x($margin) {
  margin-left: $margin;
  margin-right: $margin;
}
