@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .rotki-margin {
    margin-left: 151px;
    margin-right: 151px;
  }
}

/* source-sans-pro-300 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/source-sans-pro-v14-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/source-sans-pro-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/source-sans-pro-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/source-sans-pro-v14-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/source-sans-pro-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/source-sans-pro-v14-latin-300.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}


/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/source-sans-pro-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/source-sans-pro-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/source-sans-pro-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/source-sans-pro-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/source-sans-pro-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/source-sans-pro-v14-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Alverata W01 Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/alverata_w01_bold.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/alverata_w01_bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/alverata_w01_bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/alverata_w01_bold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/alverata_w01_bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/alverata_w01_bold.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Alverata W01 Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/alverata_w01_regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/alverata_w01_regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/alverata_w01_regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/alverata_w01_regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/alverata_w01_regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/alverata_w01_regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

